<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Q2 - Multiplication and Division Methods</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-controller="myCtrl">
    <h2>Question 2: Multiplication and Division Methods</h2>
    
    <p>Result: {{result}}</p>
    <button ng-click="multiply(6, 7)">Multiply 6 * 7</button>
    <button ng-click="divide(20, 4)">Divide 20 / 4</button>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.result = 0;
            $scope.multiply = function(a, b) {
                $scope.result = a * b;
            };
            $scope.divide = function(a, b) {
                if(b !== 0) {
                    $scope.result = a / b;
                } else {
                    $scope.result = 'Cannot divide by zero';
                }
            };
        });
    </script>
</body>
</html>
